.navbar{
  width: 100%;
  height: 3.5rem;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*background-color: rgb(255, 240, 240);*/
  background-color: aliceblue;
  position: fixed;
  z-index: 100;
  overflow: hidden;
}

.navbar .logo{
  width: 4rem;
  height: auto;
  padding: 1rem 3rem;
  padding-top: 2rem;
}

.navbar .logo img{
  width: 100%;
}
.navbar .list{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2.5rem;
  margin: 0 2rem;
}

.navbar .list ul{
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.navbar .list ul li{
  list-style: none;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.495);
  font-family: 'Courier New', Courier, monospace;
  transition: all 0.8s ease;
  font-weight: 600;
}
.navbar .list ul .active{
  color: crimson;
  text-decoration: overline;  
}
.navbar .list ul li:hover{
  color: rgb(210, 39, 39);
  font-size: 1.1rem;
  text-decoration: overline;
}
.navMenu {
  display: none;
}
.donate-menu{
  display: flex;
  gap: 2rem;
}
.d-button {
  background-color: rgb(210, 39, 39);
  color: aliceblue;
  border: none;
  cursor: pointer;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  letter-spacing: 0.07rem;
}

.lang-btn{
  border: 1px solid rgb(210, 39, 39);
  color: black;
  padding: 0.5rem 1.3rem;
  font-size: 1rem;
  border-radius: 10px;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 1s ease;
}

.lang-btn:hover{
  font-size: 0.8rem;
}
.dm-dropdown{
  display: flex;
  padding: 1.2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  gap: 2rem;
  position: absolute;
  top: 3.2rem;
  right: 2rem;
  background-color: white;
  width: 60%;
  z-index: 100;
  overflow: hidden;
}
.dm-dropdown .col-dm{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
}
.dm-dropdown .col-dm a{
  font-size: 1.1rem;
  color: black;
  transition: all 0.5s ease;
}
.dm-dropdown .col-dm a:hover{
  color: rgb(210, 39, 39);
}